{% extends 'auth/base_auth.html' %}

{% block title %}
    Register
{% endblock title %}

{% block content_auth %}

    <form method="post">
        <img class="mb-4" src="{{ url_for('static', filename='assets/favicon/globinary-logo-main.png') }}"
             alt="logo"
             width="217"
             height="50">
        <h1 class="h3 mb-3 fw-normal">Register new account</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id=f_username" name="username" placeholder="Username" required>
            <label for="f_username">Username</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="f_email_address" name="email_address"
                   placeholder="name@example.com" required>
            <label for="f_email_address">Email address</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="f_last_name" name="last_name" placeholder="Last name"
                   required>
            <label for="f_last_name">Last name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="f_first_name" name="first_name" placeholder="First name"
                   required>
            <label for="f_first_name">First name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="f_password" name="password" placeholder="Password"
                   required>
            <label for="f_password">Password</label>
        </div>


        <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Register</button>

        <div>
            <p class="mt-5 mb-3">Already have an account? <a href="{{ url_for('auth.login_page') }}">Login
                here</a>.</p>
        </div>
        <p class="mt-5 mb-3 text-muted">Create Flask App {{ date.year }}</p>
    </form>

{% endblock content_auth %}